.jumbotron{
    background-image: url("banner.jpg");
    color: white;
    width: 100%;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: burlywood;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-left: 20px;
    margin-top: 10px;
    justify-content: space-between;
}

.btn{
    width: 100%;
}

.table td, table th {
    padding: 0;
    border-top: 0;
}
.card-item{
    width: 18rem;
}
